{% extends 'base.html' %}
{% block content %}
<h1>BIENVENU SUR MON SITE!!!</h1>
<p style="font-size:25px;color:purple">LE MEILLEUR SITE DU MONDE!!!!!</p>
<a href="/login/"><button>SE CONNECTER ICI!!!</button></a>
<a href="/forum/"><button style="background:green">LE FORUM!!!</button></a>
<br><br>
<marquee style="font-size:30px;color:red">SUPER SITE SUPER SECURISE!!!</marquee>
<br>
<table>
<tr><th>PRODUIT</th><th>PRIX</th><th>NOTE</th></tr>
<tr><td>Produit 1</td><td>9.99€</td><td>★★★★★</td></tr>
<tr><td>Produit 2</td><td>19.99€</td><td>★★★☆☆</td></tr>
<tr><td>Produit 3</td><td>4.99€</td><td>★☆☆☆☆</td></tr>
</table>
{% endblock %}
